@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(226, 241, 247);
}

img {
    width: 190px;
}
.date{
    margin-top: 25px;
    font-size: 12px;
}


.header.bg-light{
    margin-bottom: 20px;
}
.header.bg-light .row{
    margin: 0;
}
.custom_container{
    margin: 0 40px;
}
.custom_container .card{
    border: none;
    border-radius: 0px;
}
.custom_container .card .card-title {
    margin-bottom: .75rem;
    font-size: 33px;
    font-weight: 600;
    color: #455a64;
}
.breadcrumb{
    display: inline-block;
    padding: 0;
    margin: 0;
    background: transparent;
    overflow: hidden;
}
.breadcrumb li{
    float: left;
    padding: 8px 15px 8px 50px;
    background: #fdec82;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    position: relative;
}
.breadcrumb li:first-child{ background: #fdf9cc; }
.breadcrumb li:last-child{
    background: #fddc05;
}
.breadcrumb li:before{ display: none; }
.breadcrumb li:after{
    content: "";
    display: block;
    border-left: 18px solid #fdec82;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    position: absolute;
    top: 0;
    right: -18px;
    z-index: 1;
}
.breadcrumb li:first-child:after{ border-left-color: #fdf9cc; }
.breadcrumb li:last-child:after{ border-left-color: #fddc05; }
.breadcrumb li a{
    font-size: 14px;
    font-weight: bold;
    color: #777;
}
.row.col-md-12.card {
    margin: 23px 0;
}
.container.first_form,.container.second_form {
    width: 50%;
    margin-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 27px;
}
footer ul li{
    list-style: none;
}
footer ul li i{
    padding: 10px;
    font-size: 20px;
}
.social_links ul{
    padding: 0;
}
.social_links li{
    display: inline-block;
}
.social_links li a i{
    font-size: 30px;
}
.mobilefooter,.social_links{
    text-align: right;
}

#top-footer {
    background-image: url(/images/footer-bg.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    padding: 40px 15px;
    color: #455a64;
}

@media only screen and (max-width: 593px){
    .breadcrumb li{ padding: 8px 12px 8px 25px; 
    }
    .container.first_form,.container.second_form {
        width: 100%;
}
.mobilefooter,.social_links{
    text-align: center;
}
}
@media only screen and (max-width: 453px){
    .breadcrumb li{ padding: 8px 10px 8px 20px; 
        font-weight: 400;
    }
    .breadcrumb li a{
        font-weight: 400;
        font-size: 12px;
    }
    .breadcrumb{
        width: 100%;
    }
}
